/**
*****************************
* ndac_home_Page界面主样式
*****************************
*/
.box {
  border: 5px solid #ececf0;
  /* 设置边框颜色为蓝色 */
  width: 700px;
  height: 400px;
  /* 设置背景透明 */
  background: transparent;
  margin: 0 auto;
  /* 设置边框为圆形 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 200);
  display: flex;
  /* 使用 Flexbox 布局 */
  /* justify-content: space-around; */
  /* 使子元素左右排列并居中 */
  /* 添加阴影效果 */
}

.inner-box {
  /* 设置高度 */
  background: transparent;
  /* 设置背景颜色 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 200);
  /* 添加阴影效果 */
}

.left-box {
  /* 可以在这里添加特定于左边框的样式 */
  border: 2px solid #ececf0;
  /* 设置边框颜色 */
  margin-left: 15px;
  margin-top: 8px;
  width: 170px;
  /* 设置宽度 */
  height: 380px;
}

.right-box {
  border: 4px solid #ececf0;
  /* 设置边框颜色 */
  margin-left: 5px;
  margin-top: 9px;
  width: 70px;
  /* 设置宽度 */
  height: 375px;
}

/**
*****************************
* ndac_home_Page界面底部样式
*****************************
*/
footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

/* 导航链接样式 */
.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 50px;
}

.footer-nav ul li {
  display: inline-block;
  margin-right: 10px;

}

.footer-nav ul li a {
  text-decoration: none;
  color: #888;
  text-shadow: 2px 2px 5px rgb(73, 105, 230);
}

/* 版权信息样式 */
.footer-info {
  /* margin: 10px 0; */
  margin-left: 50px;
}

.footer-info p {
  font-size: 12px;
  color: #888;
  /* text-shadow: 2px 2px 5px rgb(73, 105, 230); */
}

/**
*****************************
* button样式
*****************************
*/
.button {
  background-color: transparent;
  color: white;
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(73, 105, 230);
}

/**
*****************************
* 设置功能样式
*****************************
*/
/* 开关按钮的容器 */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* 隐藏默认的复选框 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 滑块的样式 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

/* 滑块的圆形按钮 */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* 当复选框被选中时，改变滑块的背景色 */
input:checked+.slider {
  background-color: #2196F3;
}

/* 当复选框被选中时，移动滑块 */
input:checked+.slider:before {
  transform: translateX(26px);
}

/* 圆角样式 */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/**
*****************************
* 弹出对话框样式
*****************************
*/
.ndac_dialog {
  display: none;
  /* 默认隐藏对话框 */
  position: fixed;
  border: #fbfafa 3px solid;
  left: 40%;
  width: 320px;
  height: 140px;
  z-index: 5000;
  /* 保证对话框在最上层 */
  justify-content: center;
  align-items: center;
  /* 设置边框为圆形 */
  /* border-radius: 5%; */
  /* 添加阴影效果 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 200);
  background-image: url('./image/nadc_dialog.png');
  background-size: cover;
}

.ndac_dialog_div {
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-left: 20px;
}

.ndac_dialog_img {
  width: 50px;
  margin-right: 10px;
}

.ndac_dialog_label {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(255, 254, 254);
}

/**
*****************************
* ndac_aboutus_Page界面主样式
* ndac_guide_Page界面主样式
*****************************
*/
.link-body {
  background-image: url('./image/nadc_home_Page_link.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
}


.main-content {
  flex: 1;
  padding: 40px 20px 20px;
  /* 增加顶部padding给控制按钮留空间 */
  position: relative;
}

/* 内容框样式 */
.content-box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  min-height: 590px;
}

/* 控制按钮位置微调 */
.window-controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}

/* 内容框标题样式 */
.content-title {
  font-size: 30px;
  color: #022348;
  margin-bottom: 20px;
  border-bottom: 2px solid #00a8ff;
  padding-bottom: 10px;

}

/* 示例内容样式 */
.status-item {
  padding: 10px;
  /* margin: 10px 0; */
  background-color: rgba(2, 35, 72, 0.1);
  border-radius: 5px;
}

/* 左侧导航栏样式 */
/* 左侧导航栏样式 */
.sidebar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 200px;
  height: 460px;
  /* background-color: rgba(40, 40, 40, 0.8); */
  padding: 20px 0;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
  margin-right: 20px;
  /* 添加右边距 */
}

.sidebar2 {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 1075px;
  height: 480px;
  /* background-color: rgba(40, 40, 40, 0.8); */
  padding: 10px 10px;
  margin-left: 50px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 15px 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  transform: skewX(-20deg);
  text-shadow: 0 0 20px rgba(0, 0, 0, 200);
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 30px;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #00a8ff;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-item:hover::before {
  opacity: 1;
}

/**
*****************************
* 官方网站
*****************************
*/

/* 网页信息容器样式 */
.web-info-container {
  position: fixed;
  top: 80px;
  /* 根据需要调整 */
  left: 50px;
  /* 根据需要调整 */
  width: 93.3%;
  /* 根据需要调整 */
  height: 600px;
  /* 根据需要调整 */
  border: #00a8ff 3px solid;
  border-radius: 10px;
  overflow: hidden;
}

/* iframe样式 */
.web-info-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/**
*****************************
* 四段定标样式
*****************************
*/
/* 工具栏 */
.toolbar {
  /* border: white 2px solid; */
  /* 设置工具栏背景色 */
  padding: 10px;
  /* 添加内边距以增加元素之间的空间 */
  display: flex;
  /* 使用flex布局以适应不同宽度的元素 */
  gap: 10px;
  /* 设置元素之间的间隔 */
  align-items: center;
  /* 垂直居中对齐工具栏中的元素 */
  height: 60px;
  /* 设置工具栏高度 */
}

.toolbar-item {
  position: relative;
  /* 设置元素的定位方式为相对定位，使其可以根据自身正常文档流位置进行偏移 */
  display: flex;
  /* 使用flex布局以便于对子元素进行灵活的布局和对齐 */
  flex-direction: column;
  /* 设置flex容器的子元素排列方向为垂直方向，即从上到下排列 */
  align-items: center;
  /* 将子元素沿横轴中心对齐，确保内容在容器内居中显示 */
}

.up-down-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.label {
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 200);
}

.separator {
  width: 2px;
  /* 分割线宽度 */
  height: 60px;
  /* 分割线高度，比工具栏稍小 */
  background-color: #999;
  /* 分割线颜色 */
  margin: 0 5px;
  /* 分割线与其他元素的间距 */
}

.show-label-one {
  font-size: 18px;
}

.show-label-two {
  font-size: 17px;
}

.collapse-panel {
  width: 99.9%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.collapse-header {
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-content {
  padding: 10px;
  display: none;
}

.collapse-content.open {
  display: block;
}

.arrow {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg);
}

.checkbox {
  margin-right: 10px;
}

.buttons {
  margin-bottom: 20px;
}

.buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 两列 */
  grid-template-rows: auto auto;
  /* 两行 */
  gap: 10px;
  /* 列与行之间的间距 */
}

.content-section {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.error{
  border: 2px solid red;
}

.valid{
  border: 2px solid green;
}
.error-message{
  color: red;
}